@import "../../variables.scss";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px); // Header ve Footer hariç tüm ekranı kaplasın
  text-align: center;
  background-color: $primary-color;
  color: $primary-text-color;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
