@import "../../variables.scss"; // variables dosyasını import et

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); // Sayfanın yüksekliğinden header ve footer yüksekliğini çıkarıyoruz (header + footer = 160px)
  background-color: $primary-color;
  color: $text-color;

  h1 {
    font-size: 5rem;
    text-align: center;
  }
}
