@import "../../variables.scss"; // Global değişkenleri çekiyoruz

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.register-form {
  width: 350px;
  padding: 20px;
  margin-top: -150px;  
  border:2px solid  rgba(0, 0, 0, 0.5);
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
  text-align: center;

  .input-group {
    margin-bottom: 15px;
    text-align: left;

    label {

      display: block;
      margin-bottom: 5px;
      margin-top: 30px;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 3px solid #fff;
      border-radius: $border-radius;
      font-size: $font-size-base;
      color: $secondary-text-color;

      &:focus {
        outline: none;

      }
    }

    .error {
      color: red;
      font-size: 14px;
    }
  }

  button {
    width: 100%;
    background: linear-gradient(270deg, #ff994f, #fa6d86); /* Gradyan renk geçişi */
    border: 2px solid #ff994f;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: $font-size-base;

    &:disabled {
      background: gray;
      cursor: not-allowed;
      border: 2px solid gray;
    }

    &:hover {
      background: #fff;
      border: 2px solid #ff994f
      
    }
    
  }

  .redirect {
    margin-top: 15px;
    
    .login-link {

      cursor: pointer;
      font-weight: bold;
      background: #a363aa; /* Gradyan renk geçişi */
      -webkit-background-clip: text; /* Gradyanı metne uygula */
      color: transparent;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .response-success {
    color: green;
    margin-top: 20px;
  }

  .response-error {
    color: red;
    margin-top: 20px;
  }
}
