@import "../../variables.scss";

.footer {
  background-color: $primary-color; // Header ve Login ile aynı renk
  color: $text-color;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  //box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}
