@import '../../../../variables.scss';

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  position: relative;

  .components-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  select {
    padding: 10px 15px;
    font-size: 14px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 89%;

  }

  .view-toggle-buttons {
    display: flex;
    gap: 0;  // Boşlukları kaldırarak butonları yapıştırıyoruz
    margin-bottom: 20px;
  }

  .toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(#ffdad5, #fff7f9);
    border: 2px solid black;
    color: $primary-color;
    border-radius: 5px 0 0 5px;  // Sağdaki buton hariç köşeleri yuvarlıyoruz
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;

    &:first-child {
      border-radius: 5px 0 0 5px;  // İlk butonun sadece sol köşelerini yuvarlıyoruz
    }

    &:last-child {
      border-radius: 0 5px 5px 0;  // Son butonun sadece sağ köşelerini yuvarlıyoruz
      border-left: 0;
    }

    &.active {
      background: linear-gradient(270deg, #ff994f, #fa6d86);
      //color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

  }

  .no-data-message {
    text-align: center;
    color: #888;
    font-size: 14px;
  }
}
