@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //background-color: $primary-color;
  font-family: "Montserrat", sans-serif;
}

body{
  background: linear-gradient(#ffdad5, #fff7f9);
}

root {
  background-color: $secondary-color;
}


