// Genel Renkler
$primary-color: #24252a; 
$secondary-color: rgba(0,139,169,1); 
$secondary-color-hover: rgba(0,139,169,0.8);


$background-color: #f8f9fa; // Açık gri, sayfa arka planı
$primary-text-color: #edf0f1; // Siyahımsı gri, genel yazılar için
$secondary-text-color: #6c757d; // Açık gri, alt metinler ve pasif elemanlar


// Border & Gölgelendirme
$border-radius: 8px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


// Font Ayarları
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;



$dashboard-border-color : #ccc;
$dashboard-border-hover-color : #000;
$dashboard-text-color : #333;
$dashboard-background-color : #fff;