$primary-color: #CADCFC; // Header ve Login Formunun Arka Planı
$secondary-color: rgb(164, 187, 235); // Yeni eklenen secondary-color
$third-color : #7dbddb;
$text-color: #000; // Açık Beyaz Yazılar
$button-color: rgb(164, 187, 235);; // Buton Rengi (Turkuaz)
$error-color: #e74c3c; // Hata Mesajı (Kırmızı)
$border-radius: 12px;
$shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
